.container {
  width: 90% !important;
  margin: auto;
}

.noBottomMargin {
  margin-bottom: 0px !important
}

.navbar-fixed {
  z-index: 999 !important;
}
/* Landing Page */
.landing {
  position: relative;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./img/showcase.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
}

.top-panel::before {
  content: "╲╱";
  color: #fff;
  position: absolute;
  opacity: 0.8;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  width: 6rem;
  font-size: 2rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  bottom: 2rem;
  margin-left: -3rem;
  left: 50%;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.top-panel {
  position: absolute;
}
/* Navbar */
nav {
  color: #000 !important;
  background-color: #fff;
}
nav a {
  color: #000 !important;
}

#navbar a {
  padding: 15px 0px !important;
  color: #fff;
}

.navbar-social-links {
  margin-left: 12% !important;
}
.sectionOneText {
  padding-top: 5% !important;
  padding-left: 5% !important;
}

.sectionOneRow {
  padding: 60px 0px 0px 0px !important;
}

.marginTopOnMobile {
  margin-top: 0px;
}

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #343a40 !important;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .marginTopOnMobile {
    margin-top: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .marginTopOnMobile {
    margin-top: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .marginTopOnMobile {
    margin-top: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .marginTopOnMobile {
    margin-top: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .marginTopOnMobile {
    margin-top: 0px;
  }
}
